* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.chip-input {
	display: flex;
	align-items: center;
  margin: auto;
  flex-wrap: wrap;
  min-height: 48px;
  width: 480px;
  padding: 5% .5% 0 ;
  border-bottom: 2px solid rgb(214, 216, 218);
  position: relative;
}
input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 5px;
  
}
input:focus{
  outline: none;
}
.chips {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
  
}
.chip {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px 0 0;
  font-size: 14px;
  list-style: none;
  border-radius: 30px;
  margin: 0 8px 8px 0;
  background-color:violet;
}
.chip img{
  width: 35px;
  height: 30px;
  border-radius: 50%;
  padding-right: 5px;
}
/* .chip-title {
} */
.close {
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  font-size: 20px;
  margin-left: 8px;
  color: black;
  cursor: pointer;
}
.listArea{
  padding-inline-start: 0;
  height: 300px;
  width: 450px;
  overflow: auto;
  position: absolute;
  top: 100%;
  scrollbar-width:thin;
}
.listofItems{
  display: flex;
  padding: 5px 10px;
  text-align: center;
  gap: 30px;
}
.listofItems:hover{
  background-color: aqua;
}
.listofItems img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.highlight {
  border: 2px solid black; 
  transition: background-color 0.3s ease; 
}
